.layoutContainer {
    min-height: 100vh;
    background-color:  #fffaf5;
  }
  
  .layoutHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(145deg, #ff6f00 0%, #ff8f1f 40%, #ff9e40 70%, #c43e00 100%);
    color: white;
    padding: 0 1.5rem;
    font-size: 1.25rem;
  }
  
  .layoutTitle {
    font-weight: bold;
  }
  
  .layoutContent {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    margin: 1rem;
  }